/* GLOBAL STUFF */
:root {
	--light1: #ebebeb;
    --light2: #fff;
    --dark1: #2a2424;
    --dark1L: #473d3d;
	--dark1L-hover:#3d3434;
	--dark1L-active:#584b4b;
    --dark2: #0d0d0d;
    --aem-purple: #8018c4;
    --aem-green: #04AA6D;
	--aem-yellow: #da9600;
}

@font-face {
	font-family: system;
	src: local(".SFNS-Light"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* poopy CSS "reset" */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
	font-size: 62.5%;
}
  
header {
	background-color: var(--dark2);
	color: var(--aem-yellow);
}

body {
	background-color: var(--dark1);
    color: var(--light1);
	font-family: "system";
	line-height: 1.6;
	font-size: 1.6rem;
}

/* HEADER */

/* MAIN */
main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.leftSide {
    background-image: url("./images/pango.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logoText {
	display: flex;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
	font-size: 3.2rem;
	font-family: Indie Flower;
}

#logo {
    width: 100px;
    height: 100px;
    filter: invert(100%) sepia(3%) saturate(415%) hue-rotate(194deg) brightness(118%) contrast(84%);
}

.rightSide {
    display: flex;
    flex-direction: column;
	justify-content: center;
	padding: 0px 16px;
}

.upperText {
	margin-bottom: 128px;
}

.formTitle{
	font-size: 2rem;
	font-weight: bolder;
}

ul {
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 15px 10px -10px #0d0d0d;
	list-style-type: none;
	padding: 16px 0px;
	gap: 16px;
}

li {
	display: flex;
	flex-direction: column;
	width: 40%;
	font-size: 1.2rem;
}

input {
	padding: 0px 6px;
	height: 24px;
	width: 100%;
	background-color: var(--dark1);
	border-radius: 2px;
	border: 1px solid var(--dark1L);
	color: var(--light1);
}

input:focus{
	outline: none;
	border: 1px solid var(--aem-green);
}

input:not(:focus):not(:placeholder-shown):invalid {
  box-shadow: inset 0 -3px 0 0px rgb(182, 68, 68);
} 

button {
	margin: 32px 16px 16px 16px;
	border-radius: 6px;
	border-color: var(--aem-green);
	padding: 16px;
	font-size: 2rem;
	color: var(--aem-green);
	background-color: var(--dark1);
}

button:hover {
	color: var(--dark1);
	background-color: var(--aem-green);
}

.existingAccount {
	margin-left: 32px;
}
a {
	font-weight: bold;
	color: var(--aem-green);
}

a:hover {
	color: var(--light1);
}



/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
	gap: 10px;
	background-color: var(--dark2);
    color: var(--light1);
	font-size: 12px;
}

.ion-github {
	color: var(--aem-purple);
	font-size: 24px;
}
  
.ion-github:hover {
	animation: skew 0.2s;
	animation-direction: alternate;
	animation-iteration-count: 2;
	transform: scale(1.2);
}

@keyframes skew {
	0% {
		transform: skew(20deg, 20deg);
	}
	100% {
		transform: skew(-20deg, -20deg);
	}
}